@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nav-bar{
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-bottom: 1px solid #e5e5e5;
}
a{
    text-decoration: none;
}
.nav-bar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-bar .logo .logo-img img{
    margin-top: -25px;
    width: 130px;
}
.nav-bar .logo .logo-name{
    margin-top: -25px;
}
.nav-bar .logo .logo-name h2{
    margin-left: -17px;
    margin-top: 2px;
    font-family: 'Pacifico', cursive;
    color:#3B3278 ;
}